.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: linear-gradient(45deg, #ff9800, #f44336);
}

.counter-containeraboutme {
  margin-top: 50px;
  display: block;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  width: 300px; /* Adjust the width as per your requirement */
  height: 200px; /* Adjust the height as per your requirement */
    
}

.counter-heading {
    font-size: 2rem;
    margin-bottom: 10px;
    color: black;

}

.counter-heading2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: red;

}







/* .image-text-container {
    display: flex;
    
    color: black;
   
  } */
  
  img {
    margin-right: 50px;
    justify-content: center;
  }

  .description { 
    justify-content: center;
    font-size: 100%;
    margin: 50px;
    color: maroon;
  }

  .counter-headingedu {
    font-size: 2rem;
    margin-bottom: 1px;
    color: black;

}

.image-text-container {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 40%;
    height: 40%;
    margin-left: 0%;
    padding-top: 5%;
    border-radius: 10%;
}

.counter-headingaboutme1 {
  margin-top: 65px;
    width: 60%;
    padding: 0px 20px;
}

/* Media Queries */
/* @media screen and (max-width: 768px) {
    .image-text-container {
        flex-direction: column;
    }

    img {
        width: 100%;
        height: auto;
        margin-left: 0%;
        padding-top: 5%;
        border-radius: 10%;
    }

    .counter-headingaboutme1 {
        width: 100%;
        padding: 0px 20px;
    }
} */

/* @media screen and (min-width: 768px) and (max-width: 1024px) {
    img {
        width: 30%;
        height: 30%;
        margin: 0 auto;
        text-align: center;
    }
} */

.skills-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .skill-name {
    flex: 1;
  }
  
  .skill-percentage {
    width: 100px;
    text-align: right;
    margin-left: 20px;
  }
  .mainboxfrontpage{
  background-color: black;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  }
  .text{ 
    color: white;
    font-weight: 700;
    font-family: 'Circular Std';
  }

  .sub-text { 
    color: white;
    font-weight: 200;
    font-family: 'Circular Std';
    font-size: medium;
  }

  .socialmedia{ 
    padding-left: 100px;
    display: flexbox;
    gap: 20px;
    align-items: center;
  }
 
  .text-header{ 
    color: black;
    font-weight: 700;
    font-family: 'Circular Std';
  }
  .text-aboutme{ 
    color: black;
    font-weight: 200;
    font-family: 'Circular Std';
    font-size: medium;
  }